@import "tailwindcss";

:root {
  --primary: #d55f30;
  --on-primary: #ffffff;
  --secondary: #333028;
  --on-secondary: #e6dcc5;
  --background: #fef3da; /* e6dcc5 */
  --foreground: #333028;
  --pink: #ef9bb3;
  --on-pink: #fef3da;
  --green: #4e9e65;
  --on-green: #fef3da;
  --blue: #0285b9;
  --on-blue: #fef3da;
  --red: #741b1d;
  --on-red: #fef3da;
  --yellow: #de9a10;
  --on-yellow: #fef3da;
  --orange: #d25b2e;
  --on-orange: #fef3da;
  --accent: #e6dcc5;
  --on-accent: #333028;
  --muted: #9c9484;
  --on-muted: #655e4f;
  --card: #d0c6b0;
  --popover: var(--background);
  --popover-foreground: var(--foreground);
  --radius: 1em;
  --border: var(--secondary);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--on-primary);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--on-secondary);
  --color-pink: var(--pink);
  --color-pink-foreground: var(--on-pink);
  --color-green: var(--green);
  --color-green-foreground: var(--on-green);
  --color-blue: var(--blue);
  --color-blue-foreground: var(--on-blue);
  --color-red: var(--red);
  --color-red-foreground: var(--on-red);
  --color-yellow: var(--yellow);
  --color-yellow-foreground: var(--on-yellow);
  --color-orange: var(--orange);
  --color-orange-foreground: var(--on-orange);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--on-accent);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--on-muted);
  --color-destructive: var(--red);
  --color-destructive-doreground: var(--background);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-border: var(--border);
  --font-archivo: "Archivo Narrow", "Archivo Narrow Fallback";
  --font-overpass: "Overpass", "Overpass Fallback";
  --font-paytone: "Paytone One", "Paytone One Fallback";
  --font-eight: "8 Heavy"; /* Should only be used for special titles (unreadable) */
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-archivo);
}

@font-face {
  font-family: "8 Heavy";
  src: url("/8-heavy.ttf") format("truetype");
}
