services:
  db:
    build:
      context: .
      dockerfile: db.Dockerfile
    restart: unless-stopped
    shm_size: 128mb
    ports:
      - 5432:5432 # TODO: only listen for host on prod
    env_file: .env
    command:
      [
        "postgres",
        "-c",
        "log_statement=all",
        "-c",
        "log_destination=stderr",
        "-c",
        "shared_preload_libraries=pg_cron",
        "-c",
        "cron.database_name=${POSTGRES_DB}",
      ]
    networks:
      - grimm-db
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "psql -U $${POSTGRES_USER} -d $${POSTGRES_DB} -c 'SELECT 1' || exit 1",
        ]
      interval: 5s
      timeout: 3s
      retries: 5
    volumes:
      - ./01_cron_extension.sql:/docker-entrypoint-initdb.d/01_cron_extension.sql
      - ./02_update_total_points_function.sql:/docker-entrypoint-initdb.d/02_update_total_points_function.sql
      - ./03_cron_job.sql:/docker-entrypoint-initdb.d/03_cron_job.sql

  website:
    build:
      context: ../website/
      dockerfile: ../website/Dockerfile
    restart: unless-stopped
    networks:
      - grimm-db
      - grimm-proxy
    depends_on:
      db:
        condition: service_healthy

  reverse-proxy:
    image: nginx
    restart: unless-stopped
    depends_on:
      - website
    ports:
      - 443:443
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./bde-grimm.com.pem:/etc/ssl/bde-grimm.com.pem
      - ./bde-grimm.com.key:/etc/ssl/bde-grimm.com.key
    networks:
      - grimm-proxy

networks:
  grimm-db:
  grimm-proxy:
