services:
  website:
    build:
      target: dev
    develop:
      watch:
        - action: sync
          path: ../website/
          target: /app/
          ignore:
            - ../website/node_modules/
            - ../website/package.json
            - ../website/.next
        - action: rebuild
          path: ../website/package.json
        - action: rebuild
          path: ../website/.env

  reverse-proxy:
    ports:
      - 127.0.0.1:4983:4983
      - 127.0.0.1:80:80
    volumes:
      - ./nginx.dev.conf:/etc/nginx/nginx.conf:ro
      # - ./localhost.crt:/etc/ssl/localhost.crt:ro
      # - ./localhost.key:/etc/ssl/localhost.key:ro
