services:
  website:
    build:
      target: dev
    develop:
      watch:
        - action: sync
          path: ../website/
          target: /app/
          ignore:
            - ../website/node_modules/
            - ../website/package.json
            - ../website/.next
        - action: rebuild
          path: ../website/package.json
        - action: rebuild
          path: ../website/.env

  reverse-proxy:
    ports:
      - 8000:8000
      - 4983:4983
    volumes:
      - ./nginx.dev.conf:/etc/nginx/nginx.conf:ro
