services:
  db:
    build:
      context: .
      dockerfile: db.Dockerfile
    restart: unless-stopped
    shm_size: 128mb
    ports:
      - 127.0.0.1:5432:5432
    env_file: .env
    command:
      [
        "postgres",
        "-c",
        "log_statement=all",
        "-c",
        "log_destination=stderr",
        "-c",
        "shared_preload_libraries=pg_cron",
        "-c",
        "cron.database_name=${POSTGRES_DB}",
      ]
    networks:
      - grimm-db
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "psql -U $${POSTGRES_USER} -d $${POSTGRES_DB} -c 'SELECT 1' || exit 1",
        ]
      interval: 5s
      timeout: 3s
      retries: 5
    volumes:
      - ./01_cron_extension.sql:/docker-entrypoint-initdb.d/01_cron_extension.sql
      - ./02_update_total_points_function.sql:/docker-entrypoint-initdb.d/02_update_total_points_function.sql
      - ./03_cron_job.sql:/docker-entrypoint-initdb.d/03_cron_job.sql

  website:
    build:
      context: ../website/
      dockerfile: ../website/Dockerfile
    restart: unless-stopped
    networks:
      - grimm-db
      - grimm-proxy
    depends_on:
      db:
        condition: service_healthy

  reverse-proxy:
    image: nginx
    restart: unless-stopped
    depends_on:
      - website
      - garage
    networks:
      - grimm-proxy

  drizzle-gate:
    image: ghcr.io/drizzle-team/gateway:latest
    volumes:
      - drizzle-gateway:/app
    restart: unless-stopped
    depends_on:
      - db
    networks:
      - grimm-db
      - grimm-proxy
    environment:
      PORT: 4983
      STORE_PATH: /app
      MASTERPASS: ${DRIZZLE_GATEWAY_MASTER_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

  garage:
    image: dxflrs/garage:v2.1.0
    restart: unless-stopped
    ports:
      - 3900:3900
    volumes:
      - ./garage.toml:/etc/garage.toml
      - garage-meta:/var/lib/garage/meta
      - garage-data:/var/lib/garage/data
    networks:
      - grimm-proxy

networks:
  grimm-db:
  grimm-proxy:

volumes:
  drizzle-gateway:
  garage-meta:
  garage-data:
