services:
  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - 8080:8080
    networks:
      - grimm-db

  website:
    build:
      target: dev
    develop:
      watch:
        - action: sync
          path: ../website/
          target: /app/
          ignore:
            - ../website/node_modules/
            - ../website/package.json
            - ../website/.next
        - action: rebuild
          path: ../website/package.json
        - action: rebuild
          path: ../website/.env

  reverse-proxy:
    ports:
      - 80:80
    volumes:
      - ./nginx.dev.conf:/etc/nginx/nginx.conf:ro
