# Name of the database
POSTGRES_DB=grimm

# Default admin user
POSTGRES_USER=postgres

# Default admin password
POSTGRES_PASSWORD=password

# Drizzle Gateway admin password
DRIZZLE_GATEWAY_MASTER_PASSWORD=password