# Url to connect to the database (from the container)
DB_URL=postgresql://postgres:password@db:5432/grimm

# Url to connect to the database (from the host)
DEV_DB_URL=postgresql://postgres:password@localhost:5432/grimm

# Internal Better-auth random secret
BETTER_AUTH_SECRET=lopUsvhkFippMuR8aplHUp4b5CIskl2W

# Public URL of the website
BASE_URL=http://localhost

# Forge OIDC client id
FORGE_ID_CLIENT_ID=125070

# Forge OIDC client secret
FORGE_ID_CLIENT_SECRET=f6ff8d394e6185d41834b19210979b897852680cf34700ae4ecb24ea

# Google Sheets
GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

# Discord client id
DISCORD_CLIENT_ID=no

# Discord client secret
DISCORD_CLIENT_SECRET=no

# URL of the S3 server
S3_URL=http://s3.localhost

# S3 access key ID
S3_ACCESS_KEY_ID=no

# S3 secrect access key
S3_SECRET_ACCESS_KEY=no

# S3 bucket name
S3_BUCKET_NAME=grimm-bucket

# prevent any edition of the points (comment to re enable it)
DISABLE_EDIT_POINTS=1

# prevent admin from editing points (comment to re enable it)
DISABLE_EDIT_POINTS_ADMIN=1

# disable the ranking page (comment to re enable it)
DISABLE_RANKING_PAGE=1

# disable how-to points (comment to re enable it)
DISABLE_HOWTO_POINTS=1